# Misc Files
routes.txt
Nima_Cloud_Document_Map.md

# data folders (for inner testing)
audit/*

# Environmental Variables & venv
*pba_venv/
.env

# Sensitive Info
experiments/Data Extraction/Manual Extraction/Test PDFs/
data/input_pdfs

# Most of pdf are actual CC Bill with sensitive info
*.pdf

# __pycached__/
*__pycache__/


# Other
*.vscode/